.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlay {
  background-color: rgb(49, 49, 49, 0.8);
}
.modalcontents {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  margin: 0 auto;
}
.btn-close {
  border: none;
  background-color: white;
  color: gray;
}
.btn-close:hover{
  color: black;
}
